<ion-header>
  <ion-toolbar>
    <ion-title class="title">
      Sleep Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<div class="ion-page" id="main-content">
  <ion-content class="ion-padding" [fullscreen]="true">
    <ion-grid class="grid">
      <ion-row class="row">
        <ion-col>
          <ion-button size="large" class="logButtons" [routerLink]="['/logsleep']">Log Sleep</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col>
          <ion-button size="large" class="logButtons" [routerLink]="['/logsleepiness']">Log Sleepiness</ion-button>
        </ion-col>
      </ion-row>
      <ion-row class="row">
        <ion-col>
          <ion-button size="large" class="logButtons" [routerLink]="['/viewdata']">View Data</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>